@tailwind base;
@tailwind components;
@tailwind utilities;

.appbg {
  background: radial-gradient(
    circle,
    rgba(37, 3, 37, 1) 0%,
    rgba(25, 10, 39, 1) 28%,
    rgba(30, 11, 53, 1) 50%,
    rgba(11, 22, 53, 1) 75%,
    rgba(30, 11, 54, 1) 100%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

.pinkshadow {
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.gradient,
.active {
  /* background: linear-gradient(90deg, rgba(98,186,172,1) 0%, rgba(77,198,218,1) 33%, rgba(178,160,236,1) 66%, rgba(229,154,96,1) 100% */
  background: linear-gradient(
    90deg,
    rgba(98, 186, 172, 1) 0%,
    rgba(77, 198, 218, 1) 33%,
    rgba(229, 201, 96, 1) 66%,
    rgba(229, 154, 96, 1) 100%
  );
}

.btn {
  background: linear-gradient(
    90deg,
    rgba(98, 186, 172, 1) 0%,
    rgba(77, 198, 218, 1) 33%,
    rgba(229, 201, 96, 1) 66%,
    rgba(229, 154, 96, 1) 100%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
  background: linear-gradient(
    90deg,
    rgba(229, 154, 96, 1) 0%,
    rgba(229, 201, 96, 1) 33%,
    rgba(77, 198, 218, 1) 66%,
    rgba(98, 186, 172, 1) 100%
  );
}

.activeTabStyle {
  color: #FEE9FF; /* Change the text color for the active tab */
  border-bottom: 2px solid #FEE9FF; /* Add a bottom border for the active tab */
  /* text-decoration: underline; */
  /* text-underline-offset: 8;  */
  /* transition: border-bottom 0.3s ease;  */
}

.inactiveTabStyle {
  color: #868383; /* Change the text color for the inactive tab */
  text-decoration: none; /* Remove the default text underline */
  transition: color 0.3s ease; 
}

.inactiveTabStyle:hover {
  color: rgb(77, 198, 218)
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-rajah;
  }
  /* .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  } */
  .section {
    @apply pt-8 py-0 lg:py-24 lg:h-screen flex items-center;
  }
  .btn {
    @apply font-primary rounded-full text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-7 py-3 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#62baac] to-[#e59a60] font-bold font-primary hover:from-[#e59a60] hover:to-[#62baac];
  }
}


